<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div class='flex'>
        上课放假啊上官红给送杜防守反击快乐十分就够我 i 哦
</div>



<style>
.flex{
   display:block;
   border: 1px solid red;
   width:300px;
   min-width: 0;
   text-overflow: ellipsis;
   overflow-x: hidden;
   white-space: nowrap;
}
</style>

<div class="flex" style="
    display: flex;
    border: 1px solid red;
 ">
<div style="
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
">上课放假啊上官红给送杜防守反击快乐十分就够我 dededede 哦</div>
</div>
</body>
</html>