body {
  box-sizing: border-box;
  background-color: #f1f3f5;
  font-size: 16px;
}

.card-body {
  display: flex;
  flex-flow: column wrap;
}

.card-body + header a {
  font-size: 1.5rem;
}

.card-body > ul {
  padding: 15px 0 0 0;
  border-top: 1px dotted black;
}

.card-body > ul li {
  list-style: none;
  padding: 5px;
  display: flex;
  border: 1px solid #e6e6e6;
  box-shadow: #e6e6e6 5px;
}

.card-body > ul li .user_desc {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 20%;
  margin-right: 10px;
}

.card-body > ul li .user_desc img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.card-body > ul li .user_desc span {
  display: block;
}

.card-body > ul li .content {
  max-height: 250px;
}

.card-body > ul li .content > a {
  text-decoration: none;
}

.card-body > ul li .content > a:hover {
  color: #0000cc;
}

.card-body > ul li .content > a p {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  margin-bottom: 3px;
}

